/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background: url('sfondo.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #f19c1cab;
}

.intro-container {
    background-color: rgba(244, 242, 240, 0.705);
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

header .logo h1 {
    font-size: 2.5em;
    margin: 0;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #f59517c1;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #a5aaaac1;
}

.intro {
    margin-bottom: 40px;
}

.intro h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.intro p {
    font-size: 1.2em;
    color: #555;
    margin-bottom: 40px;
}

.btn {
    background-color: #ffab00;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin: 0 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #ffab00;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

footer {
    margin-top: 40px;
    font-size: 0.9em;
    color: #555;
}

footer p {
    margin: 0;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .intro-container {
        padding: 20px;
    }

    header .logo h1 {
        font-size: 2em;
    }

    header nav ul li a {
        font-size: 1em;
    }

    .intro h2 {
        font-size: 2em;
    }

    .btn {
        width: 100%;
        margin: 10px 0;
    }
}
