/* General Styles */
body {
    font-family: Goudy Bookletter 1911;
     background-color: #eae1d6bd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #4b4a49db;
}

.container {
    background-color: #39383888;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px;
    transition: all 0.3s ease;
}

/* Header Styles */
h1 {
    font-size: 2.5em;
    color: #0b0b0b;
    margin-bottom: 20px;
    text-align: center;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #a07c5d;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Button Styles */
button {
    background-color: #ffab00;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 30px;
}

button:hover {
    background-color: #ffab00;
    transform: translateY(-2px);
}

button:active {
    background-color: #ffab00;
}

/* Link Styles */
a {
    color: #ffab00;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0f0f0e;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    h1 {
        font-size: 2em;
    }
    
    button {
        width: 100%;
    }
}
